.site-social-link:hover {
  text-decoration: none;
}
.site-social-img {
  width: 24px;
  height: 24px;
  margin: 0 3px;
}

.site-avatar {
  width: 64px;
  /* Prevent the width change by flexbox */
  min-width: 64px;
  max-width: 64px;
}

.site-bubble {
  background-color: #f3f3f3;
  margin: 0 0 0 20px;
  padding: 14px 20px;
  position: relative;
  border-radius: 5px;
}
.site-bubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 24px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 10px solid #f3f3f3;
  border-bottom: 8px solid transparent;
}

.site-project-stars {
  font-size: 1.2rem;
}

.site-date {
  display: inline-block;
  width: 70px;
  position: relative;
  text-align: right;
}
.site-date:before {
  content: "";
  position: absolute;
  left: 76px;
  top: 6px;
  width: 10px;
  height: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.site-experience {
  margin: 0 0 -14px 80px;
  padding-left: 10px;
  border-left: 2px solid #ccc;
}