<doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{{ site.avatar }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mobi.css/1.1.0/mobi.min.css" />
    <link rel="stylesheet" href="/assets/css/site.css" />
  </head>
  <body>
    <div class="flex-center">
      <div class="container">

        <h1 class="text-center">{{ site.title }}</h1>
        <p class="text-center text-muted">{{ site.description }}</p>

        <div class="flex-left top-gap-big">
          <div class="unit-0">
            <img class="site-avatar" alt="avatar" src="{{ site.avatar }}"/>
          </div>
          <p class="unit-0 site-bubble">{{ site.introduction }}</p>
        </div>

        <h2>{{ site.working.title }}</h2>
        {% for item in site.working.timeline %}
          {% if item.date %}
            <p>date: {{ item.date }}</p>
          {% else %}
            <p>{{ item }}</p>
          {% endif %}
        {% endfor %}
        
        {{ content }}
        <p>Please goto <a href="http://blog.xcatliu.com/about/">http://blog.xcatliu.com/about/</a></p>
        {% include projects.html %}
      </div>
    </div>
  </body>
</html>
